*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# build folders
target/
docapi/
docapi-fr/
.deps/
.libs/
#eclipse project files
.classpath
.project
.settings/
#log file
*.log

Makefile
config.h
config.status
stamp-h1
libtool
*.o
*.Plo
*.la
*.lo
*.so
*.gz
*~
